@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h4 {
  margin-bottom: 0px !important;
  white-space: nowrap;
}

.category-header-container {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: white;
  padding: 10px 8vw;
  overflow: scroll;
  border-top: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
}

.category-header-container::-webkit-scrollbar {
  display: none;
}

.all-categories-container {
  display: flex;
  cursor: pointer;
}

.all-categories {
  font-weight: 500;
  color: rgb(218, 94, 135);
}

.categories-list {
  display: flex;
  overflow: scroll;
}

.categories-list::-webkit-scrollbar {
  display: none;
}

.category {
  padding: 0 10px;
  cursor: pointer;
  white-space: nowrap;
  max-width: 300px;
  text-overflow: ellipsis;
}

.category:hover {
  color: rgb(218, 94, 135);
}

.expand-more {
  animation: rotate 0.5s;
}