<div class="homepage-product-list-grid">
  <div #scrollframe (scroll)="scrolled()" *ngIf="products.length" class="product-found">
    <div *ngFor="let product of products">
      <app-product-card [productDetails]="product"></app-product-card>
    </div>
  </div>
  <div *ngIf="!pageLoading && !products.length" class="no-product-found">
    <h1 class="not-found-heading">Oops... we didn't find anything that matches this search :(</h1>
    <h2 class="not-found-subheading">
      Try search for something more general, change the filters or check for spelling mistakes
    </h2>
    <img class="not-found-image" src="https://statics.olx.in/external/base/img/noResults.webp" />
  </div>
</div>
