.homepage-product-list-grid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 10px;
  overflow: scroll;
  height: 85vh;
}

.homepage-product-list-grid::-webkit-scrollbar {
  display: none;
}
