<button class="product-card-button" (click)="onClick($event)">
  <mat-card class="product-card">
    <div class="product-card-upper-div">
      <img
        class="product-card-image"
        src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/40530/i20-exterior-right-front-three-quarter-5.jpeg?q=75&wm=1"
        alt="Image"
      />
      <button mat-mini-fab class="white-button" (click)="addFavorite()">
        <mat-icon [color]="isUserFavorite ? 'accent' : 'primary'">favorite_border</mat-icon>
      </button>
    </div>
    <div>
      <mat-card-title>{{ product.price | currency: 'INR': 'symbol': '1.0'}}</mat-card-title>
      <mat-card-subtitle>{{ product.title }}</mat-card-subtitle>
    </div>
    <div class="product-card-lower-div">
      <label>{{ city }}, {{ state }}</label>
      <label>{{ createdOn }}</label>
    </div>
  </mat-card>
</button>