<div class="edit-user-profile-container">
  <div class="edit-user-profile">
    <h3 class="edit-profile">Edit Profile</h3>
    <div class="basic-info">
      <h4>Basic Information</h4>
      <form class="basic-info-form">
        <mat-form-field class="basic-info-form-field" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" />
        </mat-form-field>
        <mat-form-field class="basic-info-form-field" appearance="fill">
          <mat-label>About me (Optional)</mat-label>
          <textarea matInput placeholder="Tell me something about you!"></textarea>
        </mat-form-field>
      </form>
    </div>
    <div class="contact-info">
      <h4>Contact Information</h4>
      <form class="contact-info-form">
        <mat-form-field class="contact-info-form-field" appearance="fill">
          <mat-label>Contact Number</mat-label>
          <input matInput placeholder="Enter your contact number" />
        </mat-form-field>
        <mat-form-field class="contact-info-form-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Enter your email address" />
        </mat-form-field>
      </form>
    </div>
    <div class="footer">
      <button mat-raised-button>Clear</button>
      <button mat-raised-button color="accent">Save Changes</button>
    </div>
  </div>
</div>
