.header {
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  margin: 0px 20px;
  padding: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

nav a:visited {
  color: rgb(95, 95, 95);
}

nav a:active {
  color: black;
  font-size: 19px;
}

.xlo-icon {
  width: 100px;
  height: 60px;
  margin: none;
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout:hover {
  color:rgb(218, 94, 135);
}

.login:hover {
  color:rgb(74, 179, 32);
}

.user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 23px;
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  color:rgb(218, 94, 135);
  margin: 0px 20px;
  padding: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}