@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.header {
  background: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8vw;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  margin-right: 20px;
  padding: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

nav a:visited {
  color: rgb(95, 95, 95);
}

nav a:active {
  color: black;
  font-size: 19px;
}

.xlo-icon {
  width: 100px;
  height: 60px;
  margin: none;
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout:hover {
  color: rgb(218, 94, 135);
}

.login:hover {
  color: rgb(74, 179, 32);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.user-avatar:hover {
  transform: scale(1.1);
}

.username {
  color: rgb(218, 94, 135);
  margin: 0px 10px;
  padding: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.expand-more {
  margin-right: 10px;
  cursor: pointer;
  animation: rotate 0.5s;
}

:host ::ng-deep .sell-product-button {
  border-radius: 20px;
  border: 2px solid rgb(218, 94, 135);
  font-size: 18px;
}

.search-bar {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 5px;
  border: 2px solid rgb(218, 94, 135);
  border-radius: 5px;
  margin: 10px 20px 10px 0px;
  width: 350px;
}

.search-input {
  border: none;
  flex-grow: 1;
  outline: none;
}

.search-icon {
  color: rgb(218, 94, 135);
  cursor: pointer;
}

::ng-deep .auto-complete::-webkit-scrollbar {
  display: none;
}

::ng-deep .auto-complete {
  margin-top: 11px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option-heading {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.option-subheading {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#usernameInitials {
  font-size: 20px;
  font-weight: 600;
  color: darkgray;
  margin: 0px;
  transition: transform 0.2s;
  cursor: pointer;
}

#usernameInitials:hover {
  transform: scale(1.1);
}

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgb(218, 94, 135);
  margin: 0px;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: flex;
}
