<div class="product-details">
  <div class="product-details-left">
    <div class="product-details-left-image">
      <button *ngIf="imageUrls.length > 1" mat-mini-fab class="previous-image-button" (click)="previousImage()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <img [src]="imagePath ? imagePath : noImagePath" alt="Image" class="product-details-left-image-picture" />
      <button *ngIf="imageUrls.length > 1" mat-mini-fab class="next-image-button" (click)="nextImage()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
    <div *ngIf="imageUrls.length" class="product-details-image-preview">
      <div
        class="{{ imageUrl === imagePath ? 'selected-image-preview-container' : 'image-preview-container' }}"
        *ngFor="let imageUrl of imageUrls"
        (click)="selectImage(imageUrl)"
      >
        <img class="image-preview" src="{{ imageUrl }}" />
      </div>
    </div>
    <div class="product-description">
      <h1>Description</h1>
      <mat-card-subtitle>{{ product["description"] }}</mat-card-subtitle>
    </div>
  </div>
  <div class="product-details-right">
    <mat-card class="product-info">
      <div class="product-info-upper-div">
        <div class="product-info-upper-div-left">
          <mat-card-title>
            {{
              product["price"]
                ? (product["price"] | currency: "INR":"symbol":"1.0")
                : (0 | currency: "INR":"symbol":"1.0")
            }}
          </mat-card-title>
        </div>
        <div class="product-info-upper-div-right">
          <button mat-mini-fab class="white-button" (click)="addFavorite()">
            <mat-icon [color]="isUserFavorite ? 'accent' : 'primary'">favorite</mat-icon>
          </button>
        </div>
      </div>
      <div class="product-card-mid-div">
        <mat-card-subtitle>{{ product["title"] ? product["title"] : "Title" }}</mat-card-subtitle>
      </div>
      <div class="product-card-lower-div">
        <label class="location">{{ location }}</label>
        <label>{{ product["created_on"] | customDate }}</label>
      </div>
    </mat-card>
    <div class="seller-details">
      <h1>Seller Description</h1>
      <div class="seller-details-mid-div">
        <div class="seller-details-mid-div-left">
          <div class="image-div">
            <img *ngIf="imgSrc" src="{{ imgSrc }}" class="user-avatar" />
            <h1 *ngIf="!imgSrc" id="usernameInitials">{{ nameInitials }}</h1>
          </div>
          <div class="seller-details-mid-div-center">
            <mat-card-title>{{ productSellerName }}</mat-card-title>
            <mat-card-subtitle>Member Since {{ memberSince | customDate: false:true }}</mat-card-subtitle>
          </div>
        </div>
      </div>
      <button [disabled]="chatButtonDisabled" mat-button class="chat-button" (click)="chatWithSeller()">
        Chat with Seller
      </button>
    </div>
  </div>
</div>
