<div class="page-not-found-container">
  <mat-icon class="search">search</mat-icon>
  <div class="page-not-found-content">
    <p class="not-found">
      <span class="not-found-404">404&nbsp;</span>
      NOT FOUND
    </p>
    <p class="not-found-message">
      <span class="oops">Oops!&nbsp;</span>
      This is awkward... You are looking for something that doesn't actually exist.
    </p>
    <button class="homepage-button" mat-raised-button (click)="redirectToHomepage()">Go back to homepage</button>
  </div>
</div>
