<div class="user-profile-dialog-container">
  <div class="user-profile-dialog">
    <div class="user-profile-dialog-header">
      <div class="image-div">
        <img *ngIf="imgSrc" src="{{ imgSrc }}" class="user-avatar" />
        <h1 *ngIf="!imgSrc" id="usernameInitials">{{ loggedInUser.name | extractNameInitials: 2 }}</h1>
      </div>
      <div class="user-profile-dialog-header-right">
        <mat-card-subtitle class="hello">Hello</mat-card-subtitle>
        <h3 class="username">{{ loggedInUser["name"] }}</h3>
        <h4 class="view-edit-profile-button" (click)="handleViewEditProfile()">View and edit profile</h4>
      </div>
    </div>
    <button class="user-profile-dialog-button" mat-stroked-button (click)="openMyAds()">
      <mat-icon class="button-icon">article</mat-icon>
      My Ads
    </button>
    <button class="user-profile-dialog-button" mat-stroked-button (click)="openMyChats()">
      <mat-icon class="button-icon">chat</mat-icon>
      My Chats
    </button>
    <button class="user-profile-dialog-button" mat-stroked-button (click)="logOut()">
      <mat-icon class="button-icon">logout</mat-icon>
      Log Out
    </button>
  </div>
</div>
