.post-add-container {
  display: flex;
  flex-direction: column;
  min-height: 81vh;
  background-color: white;
  width: 84vw;
  margin: 20px 8vw;
  padding: 20px 10px;
}

.select-category-container {
  display: flex;
  flex-direction: column;
  min-height: 81vh;
  background-color: white;
  padding: 20px 10px;
}

/* .post-your-ad {
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: rgb(218, 94, 135);
  margin: 20px 0px;
} */

.category-name {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.category-name:hover {
  font-weight: 500;
}

.subcategory-name {
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.subcategory-name:hover {
  font-weight: 400;
}

.parent-node {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.child-node {
  margin-left: 40px;
  padding: 0px !important;
  border-bottom: 1px solid rgb(201, 201, 201);
}

.choose-category {
  border-top: 1px solid rgb(201, 201, 201);
  border-bottom: 1px solid rgb(201, 201, 201);
  margin: 20px 0px 0px 0px;
  padding: 15px;
  font-weight: 500;
}
