.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container::-webkit-scrollbar {
  display: none;
}

::ng-deep .mat-card:hover {
  box-shadow: 0px 0px 30px gray;
}