.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container::-webkit-scrollbar {
  display: none;
}

::ng-deep .mat-card:hover {
  box-shadow: 0px 0px 30px gray;
}

::ng-deep .mat-dialog-container {
  box-shadow: 0px 50px 50px gray;
}

/* width */
::ng-deep ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
  background: rgba(218, 94, 135, 0.404);
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: rgba(218, 94, 135, 0.411);
}
