.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
}

.product-card-div {
    margin: 10px;
    padding: 10px;
}

.product-card-image {
    width: 230px;
    height: 230px;
    margin-bottom: 20px;
}

.product-card-upper-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.product-card-lower-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}