<div class="product-card-div">
  <mat-card class="product-card">
    <div class="product-card-upper-div">
      <img
        class="product-card-image"
        src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/40530/i20-exterior-right-front-three-quarter-5.jpeg?q=75&wm=1"
        alt="Image"
      />
      <button mat-mini-fab>
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>
    <div>
      <mat-card-title thousandSeparator=",">{{ product.price }}</mat-card-title>
      <mat-card-subtitle>{{ product.title }}</mat-card-subtitle>
    </div>
    <div class="product-card-lower-div">
      <label>{{ product.location.city }}, {{ product.location.state }}</label>
      <label>{{ product.created_on }}</label>
    </div>
  </mat-card>
</div>
