<div class="forgot-password-container">
  <div *ngIf="!resetPasswordTokenExpired" class="forgot-password-main-div">
    <h1 mat-dialog-title>Reset Password</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordButton()" class="reset-password-form">
      <mat-form-field
        class="reset-password-form-input"
        appearance="fill"
        matTooltip="Password must contain more than 8 characters, 1 numeric, 1 upper case letter, and 1 special character"
        matTooltipPosition="right"
      >
        <mat-label>New Password*</mat-label>
        <input
          #newpassword
          [type]="newPasswordVisible ? 'text' : 'password'"
          matInput
          formControlName="NewPassword"
          (input)="disableResetPasswordButton()"
        />
        <span matSuffix>
          <mat-icon class="visibility-icon" *ngIf="!newPasswordVisible" (click)="toggleNewPasswordVisibility()">
            visibility
          </mat-icon>
          <mat-icon class="visibility-icon" *ngIf="newPasswordVisible" (click)="toggleNewPasswordVisibility()">
            visibility_off
          </mat-icon>
        </span>
      </mat-form-field>
      <mat-form-field
        class="reset-password-form-input"
        appearance="fill"
        matTooltip="Password must contain more than 8 characters, 1 numeric, 1 upper case letter, and 1 special character"
        matTooltipPosition="right"
      >
        <mat-label>Confirm New Password*</mat-label>
        <input
          #confirmnewpassword
          [type]="confirmNewPasswordVisible ? 'text' : 'password'"
          matInput
          formControlName="ConfirmNewPassword"
          (input)="disableResetPasswordButton()"
        />
        <span matSuffix>
          <mat-icon
            class="visibility-icon"
            *ngIf="!confirmNewPasswordVisible"
            (click)="toggleConfirmNewPasswordVisibility()"
          >
            visibility
          </mat-icon>
          <mat-icon
            class="visibility-icon"
            *ngIf="confirmNewPasswordVisible"
            (click)="toggleConfirmNewPasswordVisibility()"
          >
            visibility_off
          </mat-icon>
        </span>
      </mat-form-field>
      <p *ngIf="resetPasswordForm.hasError('noMatch')" style="color: red; font-size: 12px">
        Password does not match. Please enter same password...
      </p>
      <div class="reset-password-form-buttons-container">
        <button class="reset-button" mat-raised-button type="submit" disabled="{{ resetPasswordButtonDisabled }}">
          Reset Password
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="resetPasswordTokenExpired" class="forgot-password-main-div">
    <h1 mat-dialog-title class="sorry">SORRY!!!</h1>
    <h2 mat-dialog-title>
      The password reset link has expired. Please create another link to reset your password. Thank You.
    </h2>
  </div>
</div>
