<div [class]="isSelectedRoom ? 'selected-chat-card-container' : 'chat-card-container'">
  <div [class]="isSelectedRoom ? 'selected-chat-card' : 'chat-card'">
    <div class="chat-card-info">
      <div class="image-div">
        <img *ngIf="imgSrc" src="{{ imgSrc }}" class="user-avatar" />
        <h1 *ngIf="!imgSrc" id="usernameInitials">
          {{ roomCardInitialsString | extractNameInitials: 2 }}
        </h1>
      </div>
      <div class="chat-card-info-right">
        <mat-card-title>{{ roomCard && roomCard?.userName }}</mat-card-title>
        <mat-card-subtitle class="product-name">
          {{ roomCard && roomCard?.name }}
        </mat-card-subtitle>
        <mat-card-subtitle class="latest-message">
          {{ latest_message ? latest_message : "No message found" }}
        </mat-card-subtitle>
      </div>
      <div class="latest-message-time">
        <div *ngIf="unreadMessageCount > 0" class="unread-message-count">
          <p class="unread-message-count-text">{{ unreadMessageCount }}</p>
        </div>
        <p>{{ latest_message_time ? (latest_message_time | customDate: true) : "" }}</p>
      </div>
    </div>
  </div>
</div>
