.all-categories-container {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-dialog-container {
  background-color: rgb(245, 243, 243);
  box-shadow: none;
}

.category {
  cursor: pointer;
}

.category:hover {
  color: rgb(218, 94, 135);
}
